# Node.js 종속성 폴더
node_modules

# Git 관련 파일 및 폴더
.git
.gitignore

# 개발 환경 관련 파일 (빌드에 필요 없는 파일)
.env               # 개발용 환경 변수 파일
.env.production		 # 프로덕션 환경 변수 파일
.vscode
npm-debug.log
yarn-error.log

# 빌드 결과물 폴더 (Dockerfile의 빌드 단계에서 새로 생성되므로 복사할 필요 없음)
dist
build

# macOS 관련 시스템 파일
.DS_Store
